__pycache__/
*.pyc
*.pyo
tests/.tmp/

data/
*.db
*.db-shm
*.db-wal

*.log
*.out

sample_site.err.log
sample_site.out.log
crawler_app.err.log
crawler_app.out.log

_hires/
HW_1/
David_Dogukan_-_ITU_-_March_9/
submission_hw2_150190805/
submission_hw2_150190805.zip
